body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

hr
{
    width: 50%;
}

#errors
{
    width: 450px;
    height: 50px;
    margin-left: auto;
    margin-right: 23%;
    color: #91C8E4;
}

#board
{
    width: 450px;
    height: 450px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap; /*The flex-wrap CSS property sets whether flex items are forced onto one line or can wrap onto multiple lines. If wrapping is allowed, it sets the direction that lines are stacked*/
} 

#digits
{
    width: 450px;
    height: 50px;
    display: flex;
    margin: 0 auto;
     flex-wrap: wrap;
}

.number
{
    width: 44px;
    height: 44px;
    margin: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    border: 1px solid #749BC2;
    font-weight: bold;
    background-color: #749BC2;
    color: #F6F4EB;
    border-radius: 2px;
}

.number-selected
{
    background-color: #F6F4EB;
    color: #749BC2;
    border-color:  
}

.tiles
{
    width: 48px;
    height: 48px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    color: #749BC2;
    /* border-color:  #F6F4EB; */
}

.board-color
{
    background-color: #F6F4EB;
}

.solution-board-color
{
    background-color: #faf9f5;
    color: #4682A9;
    font-weight: bold;
}

.box-border-right
{
    border-right: 2px solid #4682A9;
}

.bottom-border
{
    border-bottom: 1px solid #91C8E4;
}

.right-border
{
    border-right: 1px solid #91C8E4;
}

.box-border-left
{
    border-bottom: 2px solid #4682A9;
}

#completion-board
{
    background-color: #faf9f5;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
   
