body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #FF5733;
}

hr
{
    width: 50%;
}

#errors
{
    width: 450px;
    height: 50px;
    margin-left: auto;
    margin-right: 23%;
    color: #818589;
}

#board
{
    width: 450px;
    height: 450px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap; /*The flex-wrap CSS property sets whether flex items are forced onto one line or can wrap onto multiple lines. If wrapping is allowed, it sets the direction that lines are stacked*/
} 

#digits
{
    width: 450px;
    height: 50px;
    display: flex;
    margin: 0 auto;
     flex-wrap: wrap;
}

.number
{
    width: 44px;
    height: 44px;
    margin: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    border: 1px solid #818589;
    font-weight: bold;
    background-color: #818589;
    color: #ffffff;
    border-radius: 2px;
}

.number-selected
{
    background-color: #E5E4E2;
    color: #FF5733;
    border-color:  #E5E4E2
}

.tiles
{
    width: 49px;
    height: 49px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    color: #818589;
    /* border-color:  #F6F4EB; */
}

.board-color
{
    background-color: lightgray;
}

.solution-board-color
{
    background-color: #E5E4E2;
    color: #FF5733;
    font-weight: bold;
}

.box-border-right
{
    border-right: 2px solid #FF5733;
}

.bottom-border
{
    border-bottom: 1px solid #ffffff;
}

.right-border
{
    border-right: 1px solid #ffffff;
}

.box-border-left
{
    border-bottom: 2px solid #FF5733;
}

#completion-board
{
    background-color: #faf9f5;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.disable-number
{
    border-color: lightgray;
    background-color: lightgray;
    color: black;
}
   
